@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
font-family: 'Pacifico', cursive;
  font-size: 1rem;
  background-color: rgba(242, 183, 5, 0.3);
  margin: 25px;
}
a {
  color: inherit;

}

a:hover {
  text-decoration: none;
}
.container {
  width: 95vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
 text-align: center;
 color: #f7784ada;
}

.main h1 {
  font-size: 100px;
}
.main {
  font-family:  "Pacifico", cursive;
  font-size: 24px;
}

.title {
  font-size: 28px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img {
  height: 125px;
}